@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f6f6;
}

.float-rantauwers {
  color: transparent;
  -webkit-text-stroke: 0.8px black;
  opacity: 0.5;
}

.text-stroke {
  -webkit-text-stroke: 0.3px white;
}
